pkgbase = ujhhgtg-hyprland-dotfiles-deps
	pkgdesc = Ujhhgtgs Hyprland Dotfiles (modified from Illogical Impulse) Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = x86_64
	license = None
	depends = hyprutils-git
	depends = hyprlang-git
	depends = hyprcursor-git
	depends = hyprwayland-scanner-git
	depends = aylurs-gtk-shell-git
	depends = microtex-git
	depends = dart-sass
	depends = python-pywayland
	depends = python-psutil
	depends = hypridle-git
	depends = hyprutils-git
	depends = hyprlock-git
	depends = wlogout
	depends = wl-clipboard
	depends = hyprpicker-git
	depends = anyrun-git
	depends = adw-gtk-theme-git
	depends = qt5ct
	depends = qt5-wayland
	depends = fontconfig
	depends = ttf-readex-pro
	depends = ttf-jetbrains-mono-nerd
	depends = ttf-material-symbols-variable-git
	depends = ttf-space-mono-nerd
	depends = ttf-rubik-vf
	depends = ttf-gabarito-git
	depends = fish
	depends = foot
	depends = swappy
	depends = wf-recorder
	depends = grim
	depends = tesseract
	depends = tesseract-data-eng
	depends = slurp
	depends = grimblast
	depends = python
	depends = python-build
	depends = python-pillow
	depends = python-pywal
	depends = python-setuptools-scm
	depends = python-wheel
	depends = python-materialyoucolor-git
	depends = gradience
	depends = python-libsass
	depends = python-material-color-utilities
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-hyprland-git
	depends = webp-pixbuf-loader
	depends = gtk-layer-shell
	depends = gtk3
	depends = gtksourceview3
	depends = gobject-introspection
	depends = upower
	depends = yad
	depends = ydotool
	depends = xdg-user-dirs-gtk
	depends = polkit-gnome
	depends = gnome-keyring
	depends = gnome-control-center
	depends = blueberry
	depends = networkmanager
	depends = gnome-bluetooth-3.0
	depends = axel
	depends = bc
	depends = coreutils
	depends = cliphist
	depends = cmake
	depends = curl
	depends = fuzzel
	depends = rsync
	depends = wget
	depends = ripgrep
	depends = jq
	depends = npm
	depends = meson
	depends = typescript
	depends = gjs
	depends = xdg-user-dirs
	depends = brightnessctl
	depends = ddcutil
	depends = pavucontrol
	depends = wireplumber
	depends = libdbusmenu-gtk3
	depends = playerctl
	depends = swww

pkgname = ujhhgtg-hyprland-dotfiles-deps
